/* style.css - Styles for the game canvas and body */

/* Reset some default styles, the * makes this apply to every element */
* {
	margin: 10;
	padding: 0;
	box-sizing: border-box;
}

/* Body styles */
/* Full viewport width and height, centered content */
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}