/* style.css - Styles for the game canvas and body */

/* Reset some default styles, the * makes this apply to every element */
* {
	margin: 10;
	padding: 0;
	box-sizing: border-box;
}


/* Body styles */
/* Full viewport width and height, centered content */
body {
	color: #ffc1fa;
	background-color: rgb(255, 140, 224);
	width: 100vw;
	height: 100vh;
	display: flex;
	font-family: fantasy;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: 2px 2px hwb(316 39% 0%) ;
}
 button{
	color: #ffc1fa;
	background-color:hwb(316 39% 0%);
animation: backwards 22;
 }